#main-region							
{ 

	.api-section
	{

		fieldset 
		{		
			margin-left: 10px;
			margin-right: 0px;
		}

		.wrml-form-field-label  
		{
			margin-left: 0px;	
		}

		.form-inline {
			margin-left: 0px;	
		}
	}                                                                         


	#api-page-header
	{
		 
		top: $navbarHeight;
		position: fixed;
		z-index: 1029;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-top: 0px;
		margin-bottom: 20px;		 
		border-bottom: 1px solid $black;
		width: 940px;
		background-color: $white;
	}

	#api-top-properties-section
	{

		.control-label  
		{
			float: left;
			width: 100px;
			padding-top: 5px;
			text-align: left;			
			font-weight: bold;
			margin-top: 0px;
			margin-left: 0px;
			color: $foregroundColor;
			display: inline;	
		}


		.controls 
		{
			*display: inline-block;
			*padding-left: 20px;
			margin-left: 50px;
			*margin-left: 0;		

			input[type=text],
			input[type=url],
			.uneditable-input 
			{
				width: $containerWidth - 170;
			}

		}	

		.wrml-form-field-label  
		{
			margin-top: 5px;			
		}

		textarea,
		{
			width: $containerWidth - 50;
		}

	}


	#api-resources-section
	{
		.wrml-form-field-label  
		{			
			margin-top: 5px;			
			vertical-align: middle;
			margin-left: 0px;
		}	
	}

	.api-resource-divider
	{
		height: 1px; 
		display: inline; 
		background-color: #dddddd;	
		width: 350px;
		margin-top: 15px;		
		vertical-align: middle;
	}

	.api-resource-segment-input
	{
		font-weight: bold;	
		width: 200px;
		border: 1px solid #ebebeb;

		:focus 
		{
			color: $focusForegroundColor;
			border-color: $focusBorderColor;

			 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
		     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
		          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
		}
	}


	.api-resource-segment-form
	{
		margin-top: 30px;
		margin-left: 0px;
		padding-bottom: 19px;
		margin-bottom: 0px;

		.api-resource-segment
		{
			margin-left: 0px;

			.api-resource-parent-path-label
			{
				padding-top: 10px;	
				font-weight: normal;	
				vertical-align: middle;
				color: $muted;	

				.api-resource-parent-path-icon
				{
					width: 16px;
					height: 16px;
					padding-left: 0px;
					padding-right: 0px;
					display: inline; 
				}
			}
		}
	}

	.wrml-form
	{
		margin-left: 0px;			
	}

	.api-resource-form
	{


		padding-top: 5px;	
		padding-bottom: 5px;	
		padding-left: 15px;

		.controls-row 
		{

			.api-resource-form-input-label  
			{			
				font-weight: normal;
				padding-top: 0px;
				vertical-align: middle;
				margin-top: 25px;			
				margin-left: 15px;			
				margin-right: 5px;							

			}

			input[type="text"],
			input[type="password"],
			input[type="datetime"],
			input[type="datetime-local"],
			input[type="date"],
			input[type="month"],
			input[type="time"],
			input[type="week"],
			input[type="number"],
			input[type="email"],
			input[type="url"],
			input[type="search"],
			input[type="tel"],
			input[type="color"],
			select,
			textarea,
			button,
			.uneditable-input 
			{
				margin-top: 20px;
			}

			input[type=text],
			input[type=password],
			input[type=url],
			select,
			.uneditable-input 
			{
				width: 250px;
			}		

			textarea
			{
				width: 650px;
			}



			input.api-resource-form-input-short,
			{
				width: 100px;	
			}
		}

		.api-resource-form-icon
		{		
			width: 16px;
			height: 16px;
			margin-top: -3px;
			margin-bottom: 0px;
			padding-right: 5px;
			vertical-align: middle;						
		}

	}

	.resource-table
	{

		width: 900px;
		
		margin-top: 20px;
		margin-left: 8px;
		margin-bottom: 30px;
		padding-bottom: 30px;
				
		th {			
			font-weight: normal;			
		}

		td 
		{
			padding-top: 15px;
			padding-bottom: 15px;
			
		}

		input[type=text],
		input[type=password],
		input[type=url],
		select,
		.uneditable-input 
		{
			margin-top: 5px;			
		}	

		label
		{
			vertical-align: middle;
			margin-top: 5px;			
		}

		button
		{
			margin-top: 5px;
		}

		.api-relation-input 
		{
			width: 120px;

		}

		.api-endpoint-input 
		{
			width: 270px;
			font-size: 10pt;
		}

		.api-method-text
		{
			margin-top: 10px;			
		}

		.signature
		{
			margin-top: 10px;
		}

		.signature
		{
			font-size: 0px;			

			span
			{
				margin: 0px;
				padding: 0px;
			}
		}




	}
}
