
#registration-introduction
{
	 
	background-color: $white;
	padding-top: 50px;	



}

#registration-wormle-standing
{
	width: 160px;
	height: 780px;
}

.registration-introduction-workflow
{
	margin-top: 140px;	
}

.registration-introduction-workflow-element 
{
	margin-top: 50px;
}

.registration-introduction-speech-bubble
{
        position: relative;
        display: block;
        float: left;
        max-width: 350px;
        margin-left: -50px;
}

.registration-introduction-form
{
	fieldset
	{
		margin-left: -20px;
	}
}


