#main-region							
{ 

	.relation-section
	{

		fieldset 
		{		
			margin-left: 10px;
			margin-right: 0px;
		}

		.wrml-form-field-label  
		{
			margin-left: 0px;	
		}

		.form-inline {
			margin-left: 0px;	
		}
	}                                                                         


	#relation-page-header
	{
		 
		top: $navbarHeight;
		position: fixed;
		z-index: 1029;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-top: 0px;
		margin-bottom: 20px;		 
		border-bottom: 1px solid $black;
		width: 940px;
		background-color: $white;
	}

	#relation-top-properties-section
	{

		.control-label  
		{
			float: left;
			width: 150px;
			padding-top: 5px;
			text-align: left;			
			font-weight: bold;
			margin-top: 0px;
			margin-left: 0px;
			color: $foregroundColor;
			display: inline;	
		}


		.controls 
		{
			*display: inline-block;
			*padding-left: 50px;
			margin-left: 150px;
			*margin-left: 0;

			input[type=text],
			input[type=url],
			.uneditable-input 
			{
				width: $containerWidth - 370;
			}

			.signature
			{
				margin-top: 5px;
				font-size: 0px;			

				span
				{				
					font-size: 14px;
					margin: 0px;
					padding: 0px;
				}
			}
		}	

		.wrml-form-field-label  
		{
			margin-top: 5px;			
		}

		textarea,
		{
			width: $containerWidth - 135;
		}

	}

	#relation-method-form 
	{
		margin-top: 20px;				
	}

}
