html {
  height: 100%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  height: 100%;
}

h1 {
  font-size: 28px;
}

ul, ol, dl {
  list-style-type: none;
}

// Remove this hack and replace with JS
input:focus, textarea:focus {
  background: $white url(/_wrml/wrmldoc/img/wormle/eyeFocus.png) no-repeat 98% center;
  background-size: contain;
}

a {
  cursor: pointer;
}

input,
button,
select,
textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  //margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {

  color: $focusForegroundColor;
  border-color: $focusBorderColor;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
}

.table {
  border-bottom: 1px solid #dddddd;
}

.well {
  padding-bottom: 10px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: $containerWidth;
}

.dropdown-menu {

  li {
    a:hover, a:focus {
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #363636;
      *background-color: #222222;
      background-image: -moz-linear-gradient(top, #444444, #222222);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
      background-image: -webkit-linear-gradient(top, #444444, #222222);
      background-image: -o-linear-gradient(top, #444444, #222222);
      background-image: linear-gradient(to bottom, #444444, #222222);
      background-repeat: repeat-x;
      border-color: #222222 #222222 #000000;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
  }
}

.section-divider {
  height: 1px;
  background-color: $sectionDividerColor;
  margin-top: 40px;
  margin-bottom: 30px;

  span {
    font-size: 21px;
    background-color: $white;
    position: relative;
    top: -0.60em;
    padding-right: 5px;
  }
}

.readonly-label {
  //color: $muted;
}

.wrml-subtitle {
  float: right;
  font-size: 0px;
  margin-top: 7px;

  .wrml-subtitle-text {
    vertical-align: middle;
    font-weight: normal;
    font-size: 22px;
    color: $muted;
  }

  .wrml-subtitle-icon {
    margin-right: 5px;
    width: 24px;
    height: 24px;
    display: inline;
  }
}

.wrml-code-normal,
.wrml-code-schema,
.wrml-code-method-GET,
.wrml-code-method-PUT,
.wrml-code-method-POST,
.wrml-code-method-DELETE,
.wrml-code-normal,
{
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
}

[class*='wrml-code-method-'] {
  //font-weight: bold;
}

.wrml-code-schema {
  color: $codeSchemaColor;
}

.wrml-code-method-GET {
  color: $codeMethodGetColor;
}

.wrml-code-method-PUT {
  color: $codeMethodPutColor;
}

.wrml-code-method-POST {
  color: $codeMethodPostColor;
}

.wrml-code-method-DELETE {
  color: $codeMethodDeleteColor;
}

.wrml-button-separator {
  margin-left: 40px;
  margin-top: 15px;
  vertical-align: middle;
  display: inline-block;
  margin-right: -40px;
  font-weight: bold;
}

.wrml-toolbar-button {
  border: 1px solid #FF0000;
}

.wrml-toolbar-button:hover,
.wrml-toolbar-button:focus {
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;

  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  //outline: thin dotted #FF0000;
  //outline: 5px auto #FF0000;
  //outline-offset: -2px;
}

#wrap {
  height: auto !important;
  min-height: 100%;
  margin-bottom: $wrapMarginBottom;
}

#main-region {

  section {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #title-icon {
    margin-top: -5px;
    margin-right: 8px;
    width: 48px;
    height: 48px;
  }

}

#page-header-push {
  margin-top: $navbarHeight + $pageHeaderHeight;
  margin-bottom: 40px;
}

#push {
  height: $footerHeightTotal;
}

.wrml-scroll-panel {
  display: block;
  height: 450px;
  width: 100%;
  overflow: auto;
  border: 1px solid $componentBorderColor;
}

.modal {
  width: 950px;
  margin-left: -475px;
}

.modal.fade.in {
  top: 115px;
}

.modal-body {
  max-height: 1000px;

  .row {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.modal-backdrop {
  background-color: darkgrey;
}

.wrml-modal-left-pane {
  margin-left: 0px;
}

.wrml-modal-right-pane {
  margin-left: 35px;
}

.wrml-modal-form {
  margin-bottom: 0px;
}

.wrml-modal-form-field-label {
  font-weight: bold;
  margin-top: 5px;
  vertical-align: middle;
}

.wrml-modal-input {
  width: 550px;
}

.wrml-divided-panel {
  padding-top: 10px;
  margin-top: 20px;
  border-top: lightgrey solid 1px;
}