html
{
	height: 100%;  	
}

body								
{  
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	height: 100%;  	
	
}                                                                                  

ul, ol, dl								
{  
	list-style-type: none;  
}      

// Remove this hack and replace with JS
input:focus, textarea:focus 
{ 
	background: $white url(/_wrml/wrmldoc/img/wormle/eyeFocus.png) no-repeat 98% center;
	background-size: contain;
}

input,
button,
select,
textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}                                                                   

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input 
{
	//margin-top: 10px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus 
{

	color: $focusForegroundColor;
	border-color: $focusBorderColor;

	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $focusBorderGradientColor;
}


.well 
{
	padding-bottom: 10px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: $containerWidth;
}


.dropdown-menu 
{

	li 
	{
		a:hover, a:focus 
		{
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			background-color: #363636;
			*background-color: #222222;
			background-image: -moz-linear-gradient(top, #444444, #222222);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
			background-image: -webkit-linear-gradient(top, #444444, #222222);
			background-image: -o-linear-gradient(top, #444444, #222222);
			background-image: linear-gradient(to bottom, #444444, #222222);
			background-repeat: repeat-x;
			border-color: #222222 #222222 #000000;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
			filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		}			
	}
}

.section-divider
{
	height: 1px; 
	background-color: $sectionDividerColor; 
	margin-top: 40px;
	margin-bottom: 30px;

	span
	{
		font-size: 21px;
		background-color: $white; 
		position: relative; 
		top: -0.60em; 
		padding-right: 5px;
	}
}

.readonly-label
{
	color: $muted;	
}


.wrml-code-normal, 
.wrml-code-schema, 
.wrml-code-method-GET, 
.wrml-code-method-PUT, 
.wrml-code-method-POST, 
.wrml-code-method-DELETE,  
.wrml-code-normal, 
{
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;			
	font-size: 12px;
}

[class*='wrml-code-method-']
{
	//font-weight: bold;
}

.wrml-code-schema
{
	color: $codeSchemaColor;
}

.wrml-code-method-GET
{
	color: $codeMethodGetColor;
}

.wrml-code-method-PUT
{
	color: $codeMethodPutColor;
}

.wrml-code-method-POST
{
	color: $codeMethodPostColor;
}

.wrml-code-method-DELETE
{
	color: $codeMethodDeleteColor;
}


#wrap											
{  	
	height: auto !important; 
	min-height: 100%; 
	margin-bottom: $wrapMarginBottom;	  	
}                        

#page-header-push
{
	margin-top: $navbarHeight + $pageHeaderHeight;
	margin-bottom: 40px;  
}


#push											
{  
	height: $footerHeightTotal;  
}  



